.root {
  padding: 20px;
}

.cardsCont {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  button {
    margin-top: 20px;
  }
}
