.root {
  width: 100%;
}

.logoutCont {
  margin: 20px 5%;
  display: flex;
  justify-content: space-between;
}

.rowCont {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.textCenter {
  text-align: center;
}
